.welcome {
  position: relative;
  padding-top: 3rem;
  padding-bottom: 3rem;
  color: $primary;
  min-height: 500px;
  display: flex;
  align-items: center;

  @include media-breakpoint-up(xl) {
    padding-top: 6.5rem;
    min-height: 705px;
    align-items: flex-start;
  }

  .welcome-image {
    width: 100%;

    @include media-breakpoint-up(lg) {
      position: absolute;
      right: 0;
      bottom: 0;
      object-fit: cover;
      z-index: -1;
    }
  }
}