header .navbar .navbar-nav .nav-item .nav-link {
    --bs-nav-link-font-size: 15px;
}

.custom-gray {
    color: #5D5D5F;
}

.form-control {
    color: #5D5D5F !important;
    border-color: #5D5D5F !important;
}

.mb-60 {
    margin-bottom: 60px;
}